body{
    background-color: rgb(39, 37, 37);
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50%;
    margin: 0;
}

table{
    margin-left: 8em;
}
td {
    border: 2px solid whitesmoke;
    padding: 5px;
    text-align: center;
    margin: 5px;
}

th {
    border: 2px solid whitesmoke;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

.inputSection{
    margin: 4em 5em 1em 6.5em;
    padding: 30px;
}

.inputs{
    padding: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    width: 15%;
}

h1{
    background-color: darkcyan;
    margin: 0;
    padding: 50px;
    text-align: center;
}