body{
    background-color:f6fff8;
    margin: 0;
}


.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 0.1fr minmax(300px, 800px);
    grid-template-areas: 
        "header header"
        "inputs table";
    grid-gap: 10px;
}

header{
    grid-area: header;
    background-color: #6b9080;
    margin: 0 0 50px 0;
}


.inputSection{
    grid-area: inputs;
    min-width: 150px;

}

.inputs{
    padding: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    width: 15%;
    font-family: Consolas, monaco, monospace;
}

h1{
    text-align: center;
    font-family: Consolas, monaco, monospace;
}

h2{
    color: #435c51;
    font-family: Consolas, monaco, monospace;
    margin: 0 150px 20px;
}

.tableSection{
    grid-area: table;
    background-color: eaf4f4;
    border: 2px solid  #1d3557;
    empty-cells: show;
    border-collapse: collapse;
    font-family: Consolas, monaco, monospace;
    width: 100vh;
    overflow-y: auto;
}

.employeeTable{
    background-color: #6b9080 scroll;
    table-layout: fixed;
    width: 100%;
}

th {
    border: 2px solid #6b9080;
    background-color: #a4c3b2;
    color: whitesmoke;
    text-align: center;
    height: 50px;
    width: 100%;
}

td {
    border: 2px solid lightgray;
    text-align: center;
    height: 30px;
    width: 50px;
    overflow: hidden;
}

tr:hover {background-color: #cce3de;}
table tr td:nth-child(2) input {
    width: 150px;
}

